.dark-mode {
  background-color: #000000;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.side-box-dark{
  background-color: #000000;
  border-color: #ffffff;
  color: #ffffff;
}

div.top{
 /*border-color: #000000;
  background-color: #ffffff;*/
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 100%;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
}

div.top-dark{
  background-color: #000000;
}

div.top-light{
  background-color: #ffffff;
}



div.top-dark.top-light{
  background-color: #000000;
  background-color: #ffffff;
}
