/*txt*/
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 100%;
  position: relative;
}

/*body stuff*/
body{
  padding-top: 17px;
  padding-left: 150px;
}


button{
  background-color: rgb(39, 155, 39);
  color: black;
  border-radius: 5px;
  border-color: limegreen;
  border-style: solid;
}

button:hover{
  background-color: green;
}

.buttons{
  position: fixed;
  left: 10px;
  top: 4px;
}

fieldset{
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  border-width: 3px;
  border-color: rgb(39, 155, 39);
  width: 250px;
  height: 250px;
}

.smaller{
  font-size: small;
}